body {
    font-family: "poppins", sans-serif;
    background: #181818;
    color: white;
}
*{
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;

  
}
 /*
BEGIN HEADER*/
.header{
  height: 20vh;
  width: 100%;
  padding: 0 8%;
  position: relative;
  

}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 140px;
}

.nav-links{
  padding: 28px 0;
}

.nav-links li{
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a{
  text-decoration: none;
  color: #ffffff;
  padding: 5px 0 ;
  position: relative;
}

.nav-links li a::after{
  content: '';
  background: #ffffff;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-links li a:hover::after{
  width: 100%;
}

.btn{
  background: #ffffff;
  border: 3px solid #ffffff;
  color: black;
  padding: 10px 30px;
  border-radius: 58px;
  cursor: pointer;
}

.btn2{
  background: none;
  border: 3px solid #ffffff;
  
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 58px;
  cursor: pointer;
}

/*
EIND HEADER*/
h1 {
    text-align: center;
}
form {
    max-width: 500px;
    margin: 0 auto;
    width:1000px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .back {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
   
  .back:hover {
    background-color: whitesmoke;
  }
    
  
  
  
  