<!DOCTYPE html>

{% extends 'main/base.html'%}

{% block title %}
Challenges
{% endblock %}

{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/assets/css/home.css' %}">
{% endblock %}

{% block content %}


<body>
 <!--HEADER-->
 <div class="header">
    <nav>
        <img src="{% static 'main/assets/img/logo.svg' %}" class="logo">
        <ul class="nav-links">
            <li><a href="../home">Home</a></li>
            <li><a href="../home">Introduction</a></li>
            <li><a href="">Leaderboard</a></li>
            <li><a href="">Credits</a></li>
            <li class="btn">Play</li>
            <li class="btn2">Profile</li>
        </ul>
    </nav>
</div>


<!--/HEADER-->

<div class="welcome">
    <h1><span class="auto-input2"></span></h1>
    <div class="yourscore">
        <p id="score">
            Your score: <br> 0
        </p>


    </div>
    

</div>
<div class="linesvg">
    <img src="{% static 'main/assets/img/seperator.svg' %}" alt="">
    <br>
    <br>
    <br>
    <br>

</div>

<div class="mainbox">
    <div class="cardsrow">
        <div class="cards" onclick="redirect1()">
        <div class="cardsheader">
            <p>SQL Injection</p>
            <img src="{% static 'main/assets/img/profileimg.svg' %}">
            <p>| 5 Points</p>

        </div>
        <div class="cardsbody">
            <p>
                Inject the Battie
            </p>
            <img src="{% static 'main/assets/img/startbutton.svg' %}">

        </div>
    

        </div>
        <div class="cards">
            <div class="cardsheader">
                <p>SQL Injection</p>
                <img src="{% static 'main/assets/img/profileimg.svg' %}">
                <p>| 5 Points</p>
    
            </div>
            <div class="cardsbody">
                <p>
                    Inject the Battie
                </p>
                <img src="{% static 'main/assets/img/startbutton.svg' %}">
    
            </div>
        
    
            </div>
            <div class="cards">
                <div class="cardsheader">
                    <p>SQL Injection</p>
                    <img src="{% static 'main/assets/img/profileimg.svg' %}">
                    <p>| 5 Points</p>
        
                </div>
                <div class="cardsbody">
                    <p>
                        Inject the Battie
                    </p>
                    <img src="{% static 'main/assets/img/startbutton.svg' %}">
        
                </div>
            
        
                </div>

                <div class="cards">
                    <div class="cardsheader">
                        <p>SQL Injection</p>
                        <img src="{% static 'main/assets/img/profileimg.svg' %}">
                        <p>| 5 Points</p>
            
                    </div>
                    <div class="cardsbody">
                        <p>
                            Inject the Battie
                        </p>
                        <img src="{% static 'main/assets/img/startbutton.svg' %}">
            
                    </div>
                
            
                    </div>
                    <div class="cards">
                        <div class="cardsheader">
                            <p>SQL Injection</p>
                            <img src="{% static 'main/assets/img/profileimg.svg' %}">
                            <p>| 5 Points</p>
                
                        </div>
                        <div class="cardsbody">
                            <p>
                                Inject the Battie
                            </p>
                            <img src="{% static 'main/assets/img/startbutton.svg' %}">
                
                        </div>
                    
                
                        </div>
                        <div class="cards">
                            <div class="cardsheader">
                                <p>SQL Injection</p>
                                <img src="{% static 'main/assets/img/profileimg.svg' %}">
                                <p>| 5 Points</p>
                    
                            </div>
                            <div class="cardsbody">
                                <p>
                                    Inject the Battie
                                </p>
                                <img src="{% static 'main/assets/img/startbutton.svg' %}">
                    
                            </div>
                        
                    
                            </div>

                            <div class="cards">
                                <div class="cardsheader">
                                    <p>SQL Injection</p>
                                    <img src="{% static 'main/assets/img/profileimg.svg' %}">
                                    <p>| 5 Points</p>
                        
                                </div>
                                <div class="cardsbody">
                                    <p>
                                        Inject the Battie
                                    </p>
                                    <img src="{% static 'main/assets/img/startbutton.svg' %}">
                        
                                </div>
                            
                        
                                </div>
                                <div class="cards">
                                    <div class="cardsheader">
                                        <p>SQL Injection</p>
                                        <img src="{% static 'main/assets/img/profileimg.svg' %}">
                                        <p>| 5 Points</p>
                            
                                    </div>
                                    <div class="cardsbody">
                                        <p>
                                            Inject the Battie
                                        </p>
                                        <img src="{% static 'main/assets/img/startbutton.svg' %}">
                            
                                    </div>
                                
                            
                                    </div>
        <div class="cards">
        <div class="cardsheader">
            <p>SQL Injection</p>
            <img src="{% static 'main/assets/img/profileimg.svg' %}">
            <p>| 5 Points</p>

        </div>
        <div class="cardsbody">
            <p>
                Inject the Battie
            </p>
            <img src="{% static 'main/assets/img/startbutton.svg' %}">

        </div>
    

        </div>

    </div>
    </div>

    {% load static %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="{% static 'main/assets/js/challenges.js' %}"></script>
<script>
    var typed = new Typed(".auto-input2", {
        strings: ["Dedsec Challenges."],
        typeSpeed: 60,
        
    })
</script>

</body>

{% endblock %}
