<!DOCTYPE html>

{% extends 'main/base.html'%}

{% block title %}
Home of DedSec
{% endblock %}

{% block head %}
{% load static %}

    
    <link rel="stylesheet" href="{% static 'main/assets/css/home.css' %}">
{% endblock %}

{% block content %}
<body>

    {% if user.is_authenticated %}
    <div class="header">
        <nav>
            <a href="/"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
            <ul class="nav-links">
                <li><a href="../">Home</a></li>
                <li><a href="../leaderboard">Leaderboard</a></li>
                <li><a href="../credit">Credits</a></li>
                <li><a href="/signed-out">Logout</a></li>
                <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
                <li class="btn2"><a href="../profile">Profile</a></li>
            </ul>
        </nav>
    </div>
    {% else %}
    <div class="header">
        <nav>
            <a href="/"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
            <ul class="nav-links">
                <li><a href="../">Home</a></li>
                <li><a href="../leaderboard">Leaderboard</a></li>
                <li><a href="../credit">Credits</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
                <li class="btn2"><a href="../profile">Profile</a></li>
            </ul>
        </nav>
    </div>
    {% endif %}

    <!--/HEADER-->
    <div class="welcome">
        <h1><span class="auto-input"></span></h1> 

    </div>
    <div class="linesvg">
        <img src="{% static 'main/assets/img/seperator.svg' %}" alt="">
        <br>
        <br>
        <br>
        <br>

    </div>

    <div class="container">
        <div class="lineflipped">

        </div>
    <div class="textbox">
        <h1 id="introduction">INTRODUCTION.</h1>
        <p>Welcome to DedsecCTF, the best place to test and sharpen your cybersecurity skills<br> by taking on our challenges. Our platform offers three unique challenges, each designed<br> to test your abilities in a different area of cybersecurity.
            <br><br>
            Put your problem-solving skills to the test with our decoding challenge, or dive into the world<br> of reverse engineering with our binary executable challenge. Whether you're an experienced<br> cybersecurity professional or just starting out, our challenges offer a fun and engaging way to<br> improve your skills and learn new techniques.
            <br><br>
            Whether you're an experienced cybersecurity professional or just starting out, our challenges<br> offer a fun and engaging way to improve your skills and learn new techniques. So, what are<br> you waiting for? Sign up now and start your CTF journey today!

            <br><br>
            Have fun!</p>
            
    </div>
    <img src="{% static 'main/assets/img/globe.gif' %}" class="gifs">
</div>

        
        <br>
        <br>
        <br>
        <br>
<img src="{% static 'main/assets/img/seperator.svg' %}" class="linesvg">


    <br>
    <h1 class="center" id="play">
        PLAY
    </h1>

    <div class="container">
        <div class="lineflipped">

        </div>
    <div class="textbox">
        <h1>HOW TO PLAY.</h1>
        <p>The DEDSEC CTF is split into separate levels, each containing a flag. You can play through<br> the levels in any order you want. more than anything else, the goal is to learn and have fun<br> doing it. Once you enter a level, you're going to be searching for the flags, using every skill<br> and tool in your arsenal. Flags are placed in various locations, they might be in a file, in the<br> database, stuck into  source code or anywhere else.  Your goal is to hunt them all down.<br> Good luck!
            <br>
            <br>
            <br>
            
            <h1>
                STUCK?
            </h1>
            <p>
                If you get stuck, try going through a level from scratch and see if you missed something<br> along the way. Did you inspect every page thoroughly? Press every button? Manipulate<br> every input? Try not to overthink it too much. the flags are usually more obvious than you<br> might think. If you think you've looked over everything, check out the hints for the level.<br> Click the "Hint"  button "  that gives you a helping hand.<br> 
            </p>
            
            <br>
            <br>
            <br>
            
        
        
        
            </div>
            <div class="box3" onclick="redirectChallenges()">
                CHALLENGES</div>

              
    <img src="{% static 'main/assets/img/hoofd.gif' %}" class="gifs">
</div>
<img src="{% static 'main/assets/img/seperator.svg' %}" class="linesvg">
<br>



        
{% load static %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{% static 'main/assets/js/home.js' %}"></script>
    <script>
        var typed = new Typed(".auto-input", {
            strings: ["Welcome to the official CTF of DedSec."],
            typeSpeed: 60,
            
        })
    </script>
</body>
{% endblock %}


