<!DOCTYPE html>

{% extends 'main/base.html'%}

{% block title %}
Home of DedSec
{% endblock %}

{% block head %}
{% load static %}

    
    <link rel="stylesheet" href="{% static 'main/assets/css/home.css' %}">
{% endblock %}

{% block content %}
<body>

    <!--HEADER-->
    <div class="header">
        <nav>
            <a href="/home"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
            <ul class="nav-links">
                <li><a href="../home">Home</a></li>
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="">Leaderboard</a></li>
                <li><a href="../credit">Credits</a></li>
                <li><a href="/signed-out">Logout</a></li>
                <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
                <li class="btn2"><a href="../profile">Profile</a></li>
            </ul>
        </nav>
    </div>

    <!--/HEADER-->
    <div class="welcome">
        <h1><span class="auto-input"></span></h1> 

    </div>
    <div class="linesvg">
        <img src="{% static 'main/assets/img/seperator.svg' %}" alt="">
        <br>
        <br>
        <br>
        <br>

    </div>

    <div class="container">
        <div class="lineflipped">

        </div>
    <div class="textbox">
        <h1 id="introduction">INTRODUCTION.</h1>
        <p>Welcome to DedSec CTF! We are here to challenge<br> your hacking skills by setting up a Capture The<br> Flag.<br><br> We have set up 3 levels for you to complete!<br>There is a timer so you can see in how much time<br> you have completed the levels. The Top 10 of the<br> fastest times will be in the DedSec CTF Leaderboard <br>and has a pool prize of $100,000 BTC.<br> 
            <br>
            Have fun!</p>
            
    </div>
    <img src="{% static 'main/assets/img/globe.gif' %}" class="gifs">
</div>

        
        <br>
        <br>
        <br>
        <br>
<img src="{% static 'main/assets/img/seperator.svg' %}" class="linesvg">


    <br>
    <h1 class="center" id="play">
        PLAY
    </h1>

    <div class="container">
        <div class="lineflipped">

        </div>
    <div class="textbox">
        <h1>HOW TO PLAY.</h1>
        <p>The DEDSEC CTF is split into separate levels, each containing a flag. You can play through<br> the levels in any order you want. more than anything else, the goal is to learn and have fun<br> doing it. Once you enter a level, you're going to be searching for the flags, using every skill<br> and tool in your arsenal. Flags are placed in various locations, they might be in a file, in the<br> database, stuck into  source code or anywhere else.  Your goal is to hunt them all down.<br> Good luck!
            <br>
            <br>
            <br>
            
            <h1>
                STUCK?
            </h1>
            <p>
                If you get stuck, try going through a level from scratch and see if you missed something<br> along the way. Did you inspect every page thoroughly? Press every button? Manipulate<br> every input? Try not to overthink it too much. the flags are usually more obvious than you<br> might think. If you think you've looked over everything, check out the hints for the level.<br> Click the "Hint"  button "  that gives you a helping hand.<br> 
            </p>
            
            <br>
            <br>
            <br>
            
        
        
        
            </div>
            <div class="box3" onclick="redirectChallenges()">
                CHALLENGES</div>

              
    <img src="{% static 'main/assets/img/hoofd.gif' %}" class="gifs">
</div>
<img src="{% static 'main/assets/img/seperator.svg' %}" class="linesvg">
<br>



        
{% load static %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="{% static 'main/assets/js/home.js' %}"></script>
    <script>
        var typed = new Typed(".auto-input", {
            strings: ["Welcome to the official CTF of DedSec."],
            typeSpeed: 60,
            
        })
    </script>
</body>
{% endblock %}


