{% extends 'main/base.html' %}
{% load avatar_tags %}
{% block title %}
Profile 
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/assets/css/home.css' %}">

{% if user.is_authenticated %}
<div class="header">
    <nav>
        <a href="/"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
        <ul class="nav-links">
            <li><a href="../">Home</a></li>
            <li><a href="../leaderboard">Leaderboard</a></li>
            <li><a href="../credit">Credits</a></li>
            <li><a href="/signed-out">Logout</a></li>
            <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
            <li class="btn2"><a href="../profile">Profile</a></li>
        </ul>
    </nav>
</div>
{% else %}
<div class="header">
    <nav>
        <a href="/"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
        <ul class="nav-links">
            <li><a href="../">Home</a></li>
            <li><a href="../leaderboard">Leaderboard</a></li>
            <li><a href="../credit">Credits</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
            <li class="btn2"><a href="../profile">Profile</a></li>
        </ul>
    </nav>
</div>
{% endif %}

<div class="profile-info">
    <h1>Profile info</h1> <br> <br> 
    <p>Username: {{ user.get_username }} </p>
    <p>Email: {{ user.email }}</p> <br>
    <p>Total points: {{ total_points }}</p>
    <p>Rank: {{ rank }}</p>
    <br>
    <div class="avatar">
      {% avatar user %}
    </div>
    <a href="../password_change">Change password</a>
    <a href="{% url 'avatar_change' %}">Change your avatar</a>
  </div>
{% endblock %}

