{% extends 'main/base.html'%}
<html>
    {% block head %}
{% load static %}
<title>Inject the battie</title>
<link rel="stylesheet" href="{% static 'main/assets/css/home.css' %}">
{% endblock %}
{% block content %}
    <body>
        {% if user.is_authenticated %}
    <div class="header">
        <nav>
            <a href="/home"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
            <ul class="nav-links">
                <li><a href="../home">Home</a></li>
                <li><a href="../leaderboard">Leaderboard</a></li>
                <li><a href="../credit">Credits</a></li>
                <li><a href="/signed-out">Logout</a></li>
                <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
                <li class="btn2"><a href="../profile">Profile</a></li>
            </ul>
        </nav>
    </div>
    {% else %}
    <div class="header">
        <nav>
            <a href="/home"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
            <ul class="nav-links">
                <li><a href="../home">Home</a></li>
                <li><a href="../leaderboard">Leaderboard</a></li>
                <li><a href="../credit">Credits</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
                <li class="btn2"><a href="../profile">Profile</a></li>
            </ul>
        </nav>
    </div>
    {% endif %}
        <br>
        <br>
        <br>

        <h2 class="sql">SQL INJECTION, THERE IS A FLAG TO BE FOUND IF YOU MANAGE TO BYPASS THIS FORM.. GOOD LUCK!</h2>
        <br> 
        <br>
        <br>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <form class="sql" method="post">
            {% csrf_token %}
            <label>Username:</label><br>
            <input type="text" name="username"><br>
            <label>Password:</label><br>
            <input type="password" name="password"><br><br>
            <input class="sqlbutton" type="submit">
          </form> 
    </body>
    {% endblock %}
</html>