<html>
    <head>
        <title>Inject the battie</title>
    </head>
    <body>
        {% if user.is_authenticated %}
    <div class="header">
        <nav>
            <a href="/home"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
            <ul class="nav-links">
                <li><a href="../home">Home</a></li>
                <li><a href="../leaderboard">Leaderboard</a></li>
                <li><a href="../credit">Credits</a></li>
                <li><a href="/signed-out">Logout</a></li>
                <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
                <li class="btn2"><a href="../profile">Profile</a></li>
            </ul>
        </nav>
    </div>
    {% else %}
    <div class="header">
        <nav>
            <a href="/home"><img src="{% static 'main/assets/img/logo.svg' %}" class="logo"></a>
            <ul class="nav-links">
                <li><a href="../home">Home</a></li>
                <li><a href="../leaderboard">Leaderboard</a></li>
                <li><a href="../credit">Credits</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li class="btn"><a href= "../challenges" style="background: none; color: black;" >Play</a></li>
                <li class="btn2"><a href="../profile">Profile</a></li>
            </ul>
        </nav>
    </div>
    {% endif %}
        <br>
        <br>
        <br>
        <form action="">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>
            <input type="submit" value="Submit">
          </form> 
    </body>
</html>