{% extends 'main/base.html' %}

{% block title %}
Register page
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'register/register.css' %}"/>
{% endblock %}

{% block content %}
<button class="back"><a href="/enter">Back</a></button>
<br>
<h1>Create an account</h1>
<br>
<form  method="POST" class="form-group">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-succes">Create account</button>
    <p>Already have an account? log in <a href="/login">here</a></p>
</form>
{% endblock %}