* {
    background: #181818;
}

body {
    font-family: "Poppins Medium";
    color: white;
    font-size: 10px;

}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.box {
    box-sizing: border-box;

width: 782px;
height: 159px;
left: 593px;
top: 802px;
    display: block;
  margin-left: auto;
  margin-right: auto;

border: 3px solid #FFFFFF;
}

.box2 {
    cursor: pointer;
    box-sizing: border-box;



width: 434px;
height: 120px;
left: 767px;
top: 1018px;
    display: block;
    margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

border: 3px solid #FFFFFF;
}

.box3 {
    cursor: pointer;
    box-sizing: border-box;

    font-family: "Poppins Medium";
    font-size: 50px;
    margin-left: 110px;
    text-align: center;

width: 434px;
height: 120px;
left: 767px;
top: 1018px;
    display: block;
    margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

border: 3px solid #FFFFFF;

    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;




}

input {
    font-size: 50px;
    color: white;
}

input::placeholder {
    text-align: center;
    font-size: 50px;
    font-weight: bold;

    color: white;



}

::-ms-reveal {
  filter: invert(100%);
}

.button {
    cursor: pointer;
    margin-left: 125px;
    margin-top: 20px;
    text-align: center;
    border: none;
    font-size: 50px;
    color: white;
    text-decoration: none;
}

#accesgranted {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
    margin-top: 250px;
}

#accesdenied {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
    margin-top: 250px;
}

.loginregister {
    cursor: pointer;
    margin-left: 110px;
    text-align: center;

    border: none;
    font-size: 50px;
    color: white;
    text-decoration: none;
}



.box3:hover {
    color: black;
    background-color: white;
    text-decoration: none;

    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}







