*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    background: #181818;
    
}

/* profile css */
.profile-info h1, p {
   color: white;
}
/*
BEGIN HEADER*/
.header{
    height: 20vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
    

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 0 ;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #ffffff;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.btn{
    background: #ffffff;
    border: 3px solid #ffffff;
    color: black;
    padding: 10px 30px;
    border-radius: 58px;
    cursor: pointer;
}

.btn2{
    background: none;
    border: 3px solid #ffffff;
    
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 58px;
    cursor: pointer;
}

/*
EIND HEADER*/

.line{
    width: 1656px;
    height: 3px;
    left: 132px;
    top: 459px;
    background: #ffffff;
    
    position: absolute;
    

}

.linesvg {
    display: block;
    margin-left: 100px;
    margin-right: auto;
}

.welcome {
    display: flex;
    background: none;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
   
    
}

h1{
    font-size: 65px;
    color: #ffffff;
}

h2{
    font-size: 50px;
    color: #ffffff;
}



.textbox{
    
    margin-left: 103px;
    margin-right: auto;

    padding-left: 10px;
    font-size: 20px;
    color: #A1A1A1;
    
    
}


.gifs {
    width: 25%;
    margin-right: 100px;
    margin-left: auto;
    
}

.container{
    display: flex;
  align-items: center;
}


.center {
    text-align: center;
}

.difficulities{
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding: 0 8%;
}

.box {
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;

    font-family: "Poppins Medium";
    font-size: 50px;
    margin-left: 110px;
    text-align: center;

width: 434px;
height: 120px;
left: 767px;
top: 1018px;
    display: block;
    margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

border: 3px solid #FFFFFF;

    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;




}

.box:hover {
    color: black;
    background-color: white;
    text-decoration: none;

    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.mainbox {
    display: flex;
    margin: auto;
    width: 1656px;
    height: 1280px;
    left: 130px;
    top: 585px;

    background: #1C1C1C;
    box-shadow: 0px 0px 30px -5px #000000;
    border-radius: 50px;

    
}

.yourscore {
    
    width: 243px;
height: 98px;
left: 1463px;
top: 220px;

background: #2F2F2F;
box-shadow: 0px 2px 15px 6px rgba(0, 0, 0, 0.25);
border-radius: 28px;
margin-left: 200px;





}

#score {
    color: #FFFFFF;
    font-size: 20px;
    background: none;
}

.auto-input {
    margin-left: 300px;
}

.auto-input2{
    margin-left: 600px;
    
}

.cardsrow {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: grid;
    margin-right: 175px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: max-content;
    column-gap: 50px;
    row-gap: 50px;
    background: none;
}

.cards {
    box-sizing: border-box;


width: 365px;
height: 244px;
left: 205px;
top: 789px;

background: #181818;
border: 2px solid #FFFFFF;
box-shadow: 0px 0px 15px 3px #000000, inset 0px 0px 26px -10px #FFFFFF;
border-radius: 19px;

margin-left: 126px;
margin-top: 50px;

cursor: pointer;

}

.cardsheader {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    color: white;
    background: none;
    
    

}

.cardsheader img{
    margin-left: 100px;
    background: none;
}

.cardsheader p {
    background: none;
}

.cardsbody {
    
    color: white;
    font-weight: bold;
    font-size: 24px;
    
    margin-top: 50px;
    background: none;
}

.cardsbody p {
    background: none;
    text-align: center;
}

.cardsbody img{
    margin-left: 80px;
    margin-top: 30px;
}



.amountpoints {
    display: flex;
    align-items: center;
    margin-left: 300px;
    font-size: 30px;
}

.hints {
    margin-right: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.hintboxes {
    width: 60px;
height: 60px;
left: 1119px;
top: 658px;

background: #D9D9D9;

font-size: 50px;
text-align: center;
margin-top: 100px;

cursor: pointer;

}

.submitflagsection {
    display: flex;
    align-items: center;
}

.inputbox {
    box-sizing: border-box;


width: 1073px;
height: 116px;
left: 110px;
top: 1044px;

border: 2px solid #FFFFFF;
border-radius: 75px;
}

input {
    font-size: 25px;
    color: #FFFFFF;
    
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    margin-left: 100px;

}

input::placeholder {
    text-align: center;
}

.inputbutton {
    width: 484px;
height: 116px;
left: 1258px;
top: 1044px;

background: #FFFFFF;
border-radius: 43px;

font-size: 50px;
}

.hinttext {
    font-size: 20px;
    color: red;
    margin-left: 1200px;
}

.box3 {
    color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;

    font-family: "Poppins Medium";
    font-size: 50px;
    margin-left: 110px;
    text-align: center;

width: 434px;
height: 120px;
left: 767px;
top: 1018px;
    display: block;
    margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

border: 3px solid #FFFFFF;

    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;

   



}

.box3:hover {
    color: black;
    background-color: white;
    text-decoration: none;

    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}







